<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title><%= data.resume.info.name || "Resume" %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="nine columns">
                    <h1 class="fn"><%= data.resume.info.name %></h1>
                    <p><%= data.resume.info.shortdesc %></p>
                </div>
                <div class="three columns pic">
                    <img class="profile" src="http://placehold.it/130x130" alt="">
                    <% if data.resume.info.phone %>
                        <a class="tel" href="tel:<%= data.resume.info.phone %>"><%= data.resume.info.phone %></a>
                    <% end %>
                    <a class="email" href="mailto:<%= data.resume.info.email %>"><%= data.resume.info.email %></a>
                    <% if data.resume.info.homepage? %>
                        <a class="url" href="<%= data.resume.info.homepage %>"><%= data.resume.info.homepage %></a>
                    <% end %>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="maincontent">
            <div class="row">
                <div class="four columns">
                    <h1>Experience</h1>
                </div>
            </div>
            <% data.resume.jobs.each do |job| %>
            <div class="row">
                <div class="four columns timeline">
                    <h4>
                        <span class="dtstart" title="<%= job.dates.start %>"><%= display_date(job.dates.start) %></span> <br/>
                        <span class="dtend" title="<%= job.dates.end %>"><%= display_date(job.dates.end) %></span>
                    </h4>
                </div>
                <div class="seven columns offset-by-one">
                    <% if job.url? %>
                      <h2 class="location"><a href="<%= job.url%>" target=_blank><%= job.company %></a></h2>
                    <% else %>
                      <h2 class="location"><%= job.company %></h2>
                    <% end %>
                    <h3 class="summary"><% job.title %></h3>
                    <p><%= Maruku.new(job.desc).to_html %></p>
                </div>
            </div>
            <% end %>
            <div class="row skills">
                <div class="four columns">
                    <h1><%= data.resume.headers.skills %></h1>
                </div>
                <div class="seven columns offset-by-one">
                    <% data.resume.alphabetsoup.each do |skill| %>
                        <span><%= skill %></span>
                    <% end %>
                </div>
            </div>
            <% if data.resume.education? %>
            <div class="row education">
                <div class="four columns">
                    <h1>Education</h1>
                </div>
                <% data.resume.education.each do |edu| %>
                <div class="seven columns offset-by-one">
                    <% if edu.url? %>
                      <h2 class="fn url org"><a href="<%= edu.url %>"><%= edu.name %></a>,
                    <% else %>
                      <h2 class="fn org"><%= edu.name %>,
                    <% end %>
                    <h3><%= edu.title %> &nbsp; <strong><%= edu.grade if edu.grade? %></strong> </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur veniam illo, vel, non repudiandae? Quisquam laudantium beatae eius debitis repudiandae nostrum, eaque necessitatibus quibusdam numquam voluptatibus dicta iste perferendis.</p>
                </div>
                <% end %>
            </div>
            <% end %>
        </div>
        <footer>
           <%= data.resume.info.name %> &mdash; <a class="donotexpand" href="mailto:<%= data.resume.info.email %>"><%= data.resume.info.email %></a> &mdash; <%= data.resume.info.phone  if data.resume.info.phone? %>
        </footer>
    </div>
</body>

</html>
