<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<%= partial 'header' %>

<body>
    <div class="wrapper">
        <div class="sidebar-wrapper">
            <%= partial 'profile' %>
            <%= partial 'contact' %>
            <%= partial 'education' %>
            <%= partial 'languages' %>
            <%= partial 'interests' %>
            <%= partial 'download' %>
        </div>

        <div class="main-wrapper">
            <%= partial 'summary' %>
            <%= partial 'experiences' %>
            <%= partial 'projects' %>
            <%= partial 'skills' %>
        </div>
    </div>
    <%= partial 'footer' %>
</body>

</html>
